* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hr {
  width: 100%;
  margin-left: 0;
  margin-top: 0.5rem;
}

.booklst {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 30%;
  height: auto;
  margin-left: 2rem;
  margin-top: 2rem;
}

.booklst .btn {
  width: 30%;
  height: 1.5rem;
}

.booklst li {
  list-style: none;
}

.addbtn {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: fit-content;
  height: auto;
  margin-left: 0;
  margin-top: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}

.addbtn button {
  width: 20%;
}